body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#league-buttons {
  text-align: center;
  padding: 10px;
}

.league-button {
  margin: 10px;
  padding: 15px 20px;
  font-size: 14px;
}

table {
  border-collapse: collapse;
  width: 70%; /* Reducem lățimea tabelului */
  max-width: 800px; /* Setăm o lățime maximă */
  margin: auto;
  margin-top: 100px;
}

/* Restul stilurilor pentru th și td rămân neschimbate */
th,
td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 16px; /* Reducem padding-ul pentru celule */
  margin: 0; /* Eliminăm margin-ul pentru celule */
}

th {
  background-color: #f2f2f2;
}

.sidebar {
  position: fixed;
  top: 120px;
  left: 0;
  width: 200px;
  height: 100%;
  background-color: #f2f2f2;
  padding: 20px;
}

#matches-table {
  margin-top: 100px;
  margin-left: 220px;
}
